

  #carouselExampleDark {
    width: 90%; /* Sesuaikan lebar sesuai kebutuhan */
    margin: auto; /* Untuk membuat carousel berada di tengah halaman */
  }

  /* Mengatur tinggi gambar dalam carousel */
  .carousel-item img {
    height: 250px; /* Sesuaikan tinggi sesuai kebutuhan */
    object-fit: cover; /* Agar gambar mengisi area dengan mempertahankan aspek rasio */
  }

  /* Mengatur tinggi caption dalam carousel */
  .carousel-caption {
    max-width: 100%; /* Agar caption tidak melebar melebihi carousel */
  }

  h6 {
    text-align: right;
    color: blue;
  }
 
  